<div class="container">
  <h1>My reservations</h1>
</div>
<div class="reservation-list">
  <div *ngFor="let reservation of reservations" class="reservation-card">
    <div class="card-header">
      <h2>{{reservation.Accommodation.Name}}</h2>
      <p>{{reservation.Accommodation.Address}}</p>
    </div>
    <br>
    <div class="card-body">
      <div class="reservation-info">
        <p><strong>Check-in:</strong> {{reservation.Start | date:'mediumDate'}}</p>
        <p><strong>Check-out:</strong> {{reservation.End | date:'mediumDate'}}</p>
        <p><strong>Guests:</strong> {{reservation.GuestNum}}</p>
        <p><strong>Status:</strong> {{reservation.Status}}</p>
      </div>
      <br>
      <div class="user-info">
        <p><strong>Name:</strong> {{reservation.User.Name}} {{reservation.User.Surname}}</p>

      </div>
      <div class="button-container">
        <button *ngIf="reservation.Status !== 'CANCELED' && reservation.Status !== 'UNCONFIRMED' " (click)="cancelReservation(reservation)">Cancel Reservation</button>
      </div>
    </div>
  </div>
</div>